name: CI/CD

permissions:
  contents: read
  packages: write

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Cache system dependencies
        uses: awalsh128/cache-apt-pkgs-action@v1
        with:
          packages: musl-dev
          version: 1.0

      - name: Add musl target
        run: rustup target add x86_64-unknown-linux-musl

      - name: Cache Rust dependencies
        uses: Swatinem/rust-cache@v2
        with:
          cache-directories: ~/.rustup

      - name: Format
        run: cargo fmt --all -- --check

      - name: Lint
        run: cargo clippy --workspace --all-features --all-targets -- -D warnings

      - name: Build
        run: cargo build --workspace --all-features --all-targets

      - name: Test
        run: cargo test --workspace --all-features --all-targets

      - name: Verify Documentation
        run: cargo doc --no-deps --all-features --document-private-items

    #   - name: Dry run publish for core crate
    #     run: |
    #       cargo publish --dry-run 2>&1 | tee /dev/stderr | (! grep -q -v "^warning: aborting upload due to dry run" | grep -q "^warning:")

  publish:
    name: Publish Docker image
    needs: ci
    if: github.ref_name == 'main' && github.event_name == 'push'
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v6

      - name: Login to Github Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.repository }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
