name: Publish

permissions:
    contents: read
    packages: write

on:
    workflow_run:
        workflows: ["CI"]
        types:
            - completed
        branches:
            - main

jobs:
    publish-docker:
        name: Build and Push Docker image
        runs-on: ubuntu-latest
        environment: production
        steps:
            - uses: actions/checkout@v4

            - name: Login to Github Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Build and Push Docker image to Github Container Registry
              uses: docker/build-push-action@v6
              with:
                  context: .
                  push: true
                  tags: ghcr.io/${{ github.repository }}:latest
                  cache-from: type=gha
                  cache-to: type=gha,mode=max
